body {
  background-color: deepskyblue;
}

.container {
  width: 100%;
  height: auto;
  padding: 1em;
  background-color: dodgerblue;
  border-radius: 1em;
  margin: 20px auto;
  box-sizing: border-box;
  font-family: sans-serif, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 0.3em 0.3em rgba(0, 0, 0, 0.473);
}
.title {
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
  color: rgb(38, 140, 187);
  background-color: rgb(41, 53, 49);
  line-height: 1px;
  font-weight: bold;
  border-radius: 0.5em 0.5em 0 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 5px;
  text-decoration: none;
  color: rgb(216, 148, 100);
}
a.random {
  text-decoration: none;
  font-size: 16px;
  background-color: whitesmoke;
  color: rgb(243, 81, 81);
  padding: 1em 1.5em;
  border: 4px solid rgb(243, 81, 81);
  border-radius: 0.5em;
  text-align: center;
  transition: 0.5s all;
}
a.random:hover {
  background-color: rgb(243, 81, 81);
  color: whitesmoke;
}
.surah {
  background-color: chartreuse;
  width: 100%;
  height: auto;
  border-radius: 0 0 0.5em 0.5em;
}
.info {
  height: auto;
  width: 100%;
  background-color: coral;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.arab {
  background-color: lightblue;
  width: 100%;
  height: auto;
  color: royalblue;
  font-size: 24px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.indo {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
h4 {
  padding: 1em;
  word-spacing: 6px;
  line-height: 28px;
  color: rgb(218, 228, 236);
}
h3 {
  padding: 1em;
  word-spacing: 4px;
  line-height: 32px;
  text-align: right;
}
h5 {
  padding: 1em;
  word-spacing: 4px;
  line-height: 30px;
}
h1 {
  padding: 1em;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.deskripsi {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: gold;
}
footer {
  width: 80%;
  margin: 30px auto 0 auto;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  background-color: darkblue;
  color: whitesmoke;
  font-size: 14px;
  letter-spacing: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.473);
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
  a.random {
    font-size: 20px;
  }
  h1 {
    font-size: 26px;
  }
}
